<html>
  <head>
    <style type="text/css">.turbo-progress-bar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
      z-index: 2147483647;
      transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
      transform: translate3d(0, 0, 0);}
    </style>
    <title>Target: Delivery Tracker 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <% uid = params.fetch("uid") %>
    <nav>
        <a href="/users/home/<%= uid %>">Delivery Tracker</a>
        |
        <a href="/users/edit/<%= uid %>">Edit profile</a>
        |
        <a href="/users/sign_out">Sign out</a>
    </nav>

    <hr>



    <h2>Edit User</h2>

    <form class="edit_user" id="edit_user" action="/users" method="post">
      <div class="field">
        <label for="email">Email</label><br>
        <input type="email" value="@user.email" name="email" id="email">
      </div>


      <div class="field">
        <label for="password">Password</label> <i>(leave blank if you don't want to change it)</i><br>
        <input type="password" name="password" id="password">
          <br>
          <em>6 characters minimum</em>
      </div>

      <div class="field">
        <label for="pwc">Password confirmation</label><br>
        <input type="password" name="pwc" id="pwc">
      </div>

      <div class="field">
        <label for="pw">Current password</label> <i>(we need your current password to confirm your changes)</i><br>
        <input type="password" name="pw" id="pw">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Update" data-disable-with="Update">
      </div>
    </form>
    <h3>Cancel my account</h3>

    <div>Unhappy? 
      <form class="button_to" action="/delete_user/<%= uid %>" method="post">
        <button data-confirm="Are you sure?" data-turbo-confirm="Are you sure?" type="submit">Cancel my account</button>
      </form>
    </div>

      <a href="/users/home/<%= uid %>">Back</a>
  </body>
</html>
