<html>
<head>
  <style type="text/css">.turbo-progress-bar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 3px;
    background: #0076ff;
    z-index: 2147483647;
    transition:
      width 300ms ease-out,
      opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);}
  </style>
  <title>Target: Delivery Tracker 1</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="3iKxVAFLIZLjVZjAbalEmRhdgBQTJg1hv-soqJd763HiK2BU1s-yRVIPNU7CCALku9dJhuPL5n68i3hlql-DNw">
  <meta name="csp-nonce">
</head>

<body data-new-gr-c-s-check-loaded="14.1216.0">

  <nav>
      <a href="/users/sign_up">Sign up</a>
      |
      <a href="/">Sign in</a>
  </nav>

  <hr>


    <p>You need to sign in or sign up before continuing.</p>
    <div><%= notice %></div>
    
    <div><%= alert %></div>

  <h2>Log in</h2>

  <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
    <div class="field">
      <label for="email">Email</label><br>
      <input type="email" value="" name="email" id="email">
    </div>

    <div class="field">
      <label for="password">Password</label><br>
      <input type="password" name="password" id="password">
    </div>

      <div class="field">
        <input name="remember" type="hidden" value="0"><input type="checkbox" value="1" name="remember" id="remember">
        <label for="remember">Remember me</label>
      </div>

    <div class="actions">
      <input type="submit" name="submit" value="Log in">
    </div>
  </form>

  <a href="/users/sign_up">Sign up</a><br>

  <a href="/users/password/new">Forgot your password?</a><br>

</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
